# Virtual Environment (Bỏ qua thư viện Python)
.venv/
venv/
ENV/
env/
frontend/.venv/

# Python Bytecode & Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment & Sensitive keys
.env
*.env
!.env.example

# OS & Data files
.DS_Store
Thumbs.db
data/
